html,
body {
    height: 100%;
}

.bg-img {
    background-image: url("../img/bg.jpg");
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    z-index: -1;
    min-height: 100%;
    width: 100%;
}

.jumbotron {
    height: 100%;
    width: 100%;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.col {
    font: small-caps bold 24px/1 sans-serif;
}